﻿@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>A simple app that retrieves events close to the address you have provided for a given date range from Eventful.com web service. Display those events in a scrolling view.</p>
