﻿@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    4215 McMullen Place<br />
    Edmonton, AB T6W 1S6<br />
    <abbr title="Phone">P:</abbr>+1-780-690-3200
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:patricksissons@gmail.com">patricksissons@gmail.com</a><br />
</address>