﻿@model EventfulSearchApp.Models.Search

@section Scripts {
    <script type="text/javascript">
        $().ready(function () {
            // Initialize Calendar Buttons
            $('.date-picker').datetimepicker({
                format: "DD/MM/YYYY",
            });

            $('#Address').keyup(_.debounce(function () {
                $('#LatLng').val('');
                GetLatLng($('#Address').val(), function (ll) {
                    $('#LatLng').val(ll);

                    // TODO: figure out how to make the form validate
                    //       for some reason this is way harder than it should be
                    //$.validator.unobtrusive.parse('form');
                });
            }, 500));
        })

        function GetLatLng(address, callback) {
            var uri = GetGeocodeUri(address);

            //callback((address == null || address == '') ? null : '55.123,-113.123');

            $.ajax(uri, {
                type: "GET",
                success: function (response) {
                    var ll = null;

                    if (response.results && response.results[0]) {
                        var loc = response.results[0].geometry.location;
                        ll = loc.lat + ',' + loc.lng;
                    }

                    if (callback) {
                        callback(ll);
                    }
                }
            });
        }

        function GetGeocodeUri(address) {
            // TODO: SET GOOGLE API KEY
            var key = '';

            return 'https://maps.googleapis.com/maps/api/geocode/json?address=' + encodeURIComponent(address) + '&key=' + key;
        }

        function validateStartDate(startDate) {
            if (startDate == null || startDate.isValid() == false) {
                //$.validator.messages.validsearchdaterange = "Start Date is Invalid";
                return false;
            }

            if (startDate < moment().startOf('day')) {
                //$.validator.messages.validsearchdaterange = "Start Date Must Be At Least Today";
                return false;
            }

            return true;
        }

        function validateEndDate(endDate) {
            if (endDate == null || endDate.isValid() == false) {
                //$.validator.messages.validsearchdaterange = "End Date is Invalid";
                return false;
            }

            return true;
        }

        function validateSearchDateRange(startDate, endDate) {
            if (startDate > endDate) {
                //$.validator.messages.validsearchdaterange = "End Date Must Be On or After Start Date";
                return false;
            }

            if (endDate.diff(startDate, 'days') > 28) {
                //$.validator.messages.validsearchdaterange = "Maximum Date Range Must be 28 Days or Less";
                return false;
            }

            return true;
        }

        $.validator.setDefaults({
            highlight: function (element, errorClass, validClass) {
                $(element).closest('.has-feedback').addClass('has-error');
            },
            unhighlight: function (element, errorClass, validClass) {
                var feedbackElem = $(element).closest('.has-feedback');
                var errors = feedbackElem.find('.field-validation-error');

                // only remove the class if all validation errors have been cleared
                // this prevents erroneously removing the class in cases where there 
                // are multiple feedback elements (i.e. address/latlng)
                if (errors.length == 0) {
                    feedbackElem.removeClass('has-error');
                }
            },
            ignore: null
        })

        $.validator.unobtrusive.adapters.addSingleVal('validsearchdaterange', 'datefield');

        $.validator.addMethod('validsearchdaterange', function (value, element, params) {
            var startDate = moment($('#StartDate').val(), "DD/MM/YYYY");
            var endDate = moment($('#EndDate').val(), "DD/MM/YYYY");

            if (element.id == 'StartDate') {
                return validateStartDate(startDate) && validateSearchDateRange(startDate, endDate);
            } else if (element.id == 'EndDate') {
                return validateEndDate(endDate) && validateSearchDateRange(startDate, endDate);
            } else {
                return false;
            }
        });
    </script>
}

@using (Html.BeginForm("SearchAsync", "Home", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-6">
            <div class="row form-group has-feedback">
                @Html.LabelFor(x => x.Address, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10 input-group">
                    @Html.EditorFor(x => x.Address, new { htmlAttributes = new { @class = "form-control", rows = "5", placeholder = @Html.MetadataFor(x => x.Address, x => x.Watermark) } })
                    <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>
                    @Html.HiddenFor(x => x.LatLng, new { @class = "form-control" })
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="help-block">
                        @Html.ValidationMessageFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.LatLng)
                    </div>
                </div>
            </div>
            <div class="row form-group has-feedback">
                @Html.LabelFor(x => x.Radius, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10 input-group">
                    @Html.EditorFor(x => x.Radius, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.MetadataFor(x => x.Radius, x => x.Watermark) } })
                    <span class="input-group-addon">@Html.MetadataFor(x => x.Radius, x => x.Description)</span>
                    <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true" style="right: 90px;"></span>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="help-block">
                        @Html.ValidationMessageFor(model => model.Radius)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row form-group has-feedback">
                @Html.LabelFor(x => x.StartDate, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10 input-group date-picker">
                    @Html.EditorFor(x => x.StartDate, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.MetadataFor(x => x.StartDate, x => x.Watermark) } })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                    <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true" style="right: 35px;"></span>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="help-block">
                        @Html.ValidationMessageFor(model => model.StartDate)
                    </div>
                </div>
            </div>
            <div class="row form-group has-feedback">
                @Html.LabelFor(x => x.EndDate, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10 input-group date-picker">
                    @Html.EditorFor(x => x.EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.MetadataFor(x => x.EndDate, x => x.Watermark) } })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                    <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true" style="right: 35px;"></span>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="help-block">
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(x => x.Category, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10 input-group">
                    @Html.EnumDropDownListFor(x => x.Category, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-2 input-group text-right">
            <input class="btn btn-default btn-lg" type="submit" value="Search" />
        </div>
    </div>
}

@if (Model.Exception != null)
{
    <hr />
    
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="text-danger">Error: @Model.ErrorMessage</span>
            </div>
        </div>
    </div>
}

@if (Model.Events != null)
{
    <hr />

    if (Model.Events.Any())
    {
        @Html.DisplayFor(x => x.Events)
    }
    else
    {
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>No Results to Display</strong>
            </div>
        </div>
    }
}
