﻿@model EventfulSearchApp.Models.Event

<div class="row">
    @Html.HiddenFor(x => x.ID)
    <div class="col-md-2" style="height: 140px">
        @Html.ImageFor(x => x.ImageUri, new { @class = "img-responsive img-thumbnail center-block" })
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-sm-12">
                @Html.DisplayFor(x => x.Title)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(x => x.Venue)
            </div>
            <div class="col-sm-4 text-right">
                @Html.DisplayFor(x => x.Date)
            </div>
            <div class="col-sm-12">
                @Html.DisplayFor(x => x.Performers)
            </div>
        </div>
    </div>
</div>

<hr />
